/* Styles go here */

#superButton {
	color: white;
	background-color: green;
	font-size: 16px;
	border-radius: 12px;
	padding: 10px 24px;
	display: block;
}

#newButton {
	color: white;
	background-color: green;
	font-size: 16px;
	border-radius: 12px;
	padding: 10px 24px;
	display: block;
}

#evilButton {
	color: white;
	background-color: red;
	font-size: 16px;
	border-radius: 12px;
	padding: 10px 24px;
	display: block;
}

h1 {
	-webkit-animation: rainbow 1s infinite;
	-ms-animation: rainbow 1s infinite;
	animation: rainbow 1s infinite;

	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 54px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center;
}
@-webkit-keyframes rainjbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}